# Example of Number operations

In [2]:
15 + 608

623

In [13]:
a = 15608 / 8
print(a)

1951.0

In [14]:
b = a*4
print(b)

7804.0

In [15]:
9 ** 2

81

# Import Class

In [16]:
import math
math.pi

3.141592653589793

In [17]:
math.sqrt(15608)

124.93198149393133

In [18]:
print(15+608)
print(a*9)
print(a/b)

623
17559.0
0.25

# Check object type

In [19]:
print(type(a))
print(type(b))

<class 'float'>
<class 'float'>

In [11]:
c = 15.608
print(type(c))

<class 'float'>

In [20]:
d = 'Alif'
print(type(d))

<class 'str'>

# Example of String operations

In [21]:
name = 'Ashraful "Hossain'
print(name)

Ashraful "Hossain

In [22]:
name = "Ashraful 'Hossain"
print(name)

Ashraful 'Hossain

In [24]:
'Alif ' * 5

'Alif Alif Alif Alif Alif '

In [25]:
'Ashraful '+'Hossain'

'Ashraful Hossain'

In [28]:
name = 'Ashraful Hossain Alif'
sub = 'ss'
name.count(sub)

1

In [31]:
name[0:8]

'Ashraful'

In [33]:
name[-4:]

'Alif'

In [34]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [37]:
name.islower()

False

In [40]:
mystring = 'Today is the first class of this semester\nWill our campus open soon?\nHave a good day sir'
mystring.splitlines()

['Today is the first class of this semester',
 'Will our campus open soon?',
 'Have a good day sir']

In [39]:
separator = '=='
mystrings = ['Ashraful', 'Hossain', 'Alif']
separator.join(mystrings)

'Ashraful==Hossain==Alif'

In [41]:
help(mystring.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

# List

In [55]:
data = [20,['Alif',6000],3.94,'Sirajganj']

In [56]:
data[1]

['Alif', 6000]

In [59]:
data[0:3]

[20, ['Alif', 6000], 3.94]

In [58]:
data[3]

'Sirajganj'

In [62]:
data[1][1]

6000

In [63]:
len(data)

4

In [64]:
data[-1]

'Sirajganj'

In [65]:
data

[20, ['Alif', 6000], 3.94, 'Sirajganj']

In [69]:
data.append(500)
print(data)

[20, ['Alif', 6000], 'Sirajganj', 100, 500, 500]

In [72]:
data.remove(100)
print(data)

[20, ['Alif', 6000], 'Sirajganj', 500]

In [73]:
data.pop(1)
print(data)

[20, 'Sirajganj', 500]

In [66]:
dir(data)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Dictionary

In [74]:
person = {'Age':20,'Name':['Ashraful','Hossain'], 'Salary':6000, 'Rating':3.94}

In [75]:
person['Rating']

3.94

In [76]:
len(person)

4

In [77]:
#person.has_key('Name')
'Name' in person.keys()

True

In [78]:
'Hossain' in person['Name']

True

In [79]:
dir(person)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']