# Example of Number operations

In [2]:
15 + 608

623

In [3]:
a = 15608 / 15
print(a)

1040.5333333333333

In [4]:
b = a*4
print(b)

4162.133333333333

In [3]:
2 ** 5

32

# Import Class

In [8]:
import math
math.pi

3.141592653589793

In [10]:
math.sqrt(15)

3.872983346207417

In [11]:
print(1+2)
print(a*4)
print(a/b)

3
22.363636363636363
0.125

# Check object type

In [13]:
print(type(a))
print(type(b))

<class 'float'>
<class 'float'>

In [14]:
c = 123
print(type(c))

<class 'int'>

In [15]:
d = '123'
print(type(d))

<class 'str'>

# Example of String operations

In [18]:
name = 'asif "rahman'
print(name)

asif "rahman

In [19]:
name = "asif 'rahman"
print(name)

asif 'rahman

In [22]:
'asif ' * 5

'asif asif asif asif asif asif asif '

In [24]:
'asif '+'rahman'

'asif rahman'

In [32]:
name = 'Afsar Mahmud sayed'
sub = 'sar'
name.count(sub)

1

In [60]:
name[0:5]

'Afsar'

In [56]:
name[-3:]

'yed'

In [33]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [34]:
name.islower()

False

In [35]:
mystring = 'I am right\nHe is fine\nThis it okay'
mystring.splitlines()

['I am right', 'He is fine', 'This it okay']

In [37]:
separator = '=='
mystrings = ['Himel', 'Liton', 'Hasan']
separator.join(mystrings)

'Himel==Liton==Hasan'

In [38]:
help(mystring.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

# List

In [41]:
data = [21,['rahman', 56000], 4.50, 'Dhaka']

In [61]:
data[0]

[21, ['rahman', 56000]]

In [63]:
data[0:2]

[21, ['rahman', 56000]]

In [45]:
data[1]

['rahman', 56000]

In [46]:
data[1][0]

'rahman'

In [47]:
len(data)

4

In [50]:
data[-1]

'Dhaka'

In [64]:
data

[21, ['rahman', 56000], 4.5, 'Dhaka']

In [68]:
data.append(100)
print(data)

[21, ['rahman', 56000], 4.5, 'Dhaka', 100, 100]

In [72]:
data.remove(4.5)
print(data)

[21, ['rahman', 56000], 'Dhaka', 100, 100]

In [73]:
data.pop(1)
print(data)

[21, 'Dhaka', 100, 100]

In [66]:
dir(data)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Dictionary

In [74]:
person = {'Age':21,'Name':['niaz','rahman'], 'Salary':56000, 'Rating':4.50}

In [76]:
person['Rating']

4.5

In [25]:
len(person)

4

In [78]:
#person.has_key('Name')
'Name' in person.keys()

True

In [79]:
'niaz' in person['Name']

True

In [80]:
dir(person)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']