# User Input

In [1]:
a = 69
print(a)

69

In [2]:
a = input() # always returns string
print(a)

Alif
Alif

In [3]:
a = int(input('Enter a number: ')) # always returns string
print(a + 23)

Enter a number: 69
92

In [4]:
name = input('Enter your name: ') # always returns string
print('Your name is ' + name)

Enter your name: 69
Your name is 69

# Loop

In [9]:
numbers = [20, 43, 37, 2]

for n in numbers:
    print(n)
print('ok')
print('not')

20
43
37
2
ok
not

In [10]:
for i in range(len(numbers)):
    print(numbers[i])

20
43
37
2

In [15]:
# for(i=0; i<10; i++){}
# range
for i in range(0,50,9):
    print(i, end = ' ')

0 9 18 27 36 45

In [21]:
# print even number
for i in range(11,100,20):    
    print(i)

11
31
51
71
91

In [23]:
# print even number
for i in range(15):  
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14

In [24]:
# print even number
for i in range(15):  
    if i % 2 == 1:
        continue
    print(i)

0
2
4
6
8
10
12
14

In [28]:
# indent
i = 69
if i < 70: # () not required, {} not required
    print('okay')
    print('fine')
else:
    print('bad')
    print('not okay') # will be executed in each run

okay
fine

In [30]:
# loop
for i in range(0,100,17):
    print(i)
print("ok")
print("done")

0
17
34
51
68
85
ok
done

In [41]:
myjob = "class"
for c in "bunk": 
    print(c,end='\n')
    print(myjob,end='\n')

b
class
u
class
n
class
k
class

# IF, IF ELSE, ELSE IF

In [42]:
# if
a = 22
if a > 2:
    print ('greater')

greater

In [43]:
# if-else
a = 22
if a > 69:
    print ('greater')
else:
    print( 'smaller')

smaller

In [47]:
a = 69
if a < 0:
    print('small')
elif a < 50:
    print('medium')
elif a < 70:
    print('larger')
else:
    print('out of range')

larger

# Method

In [48]:
# define method
def addnumbers(a, b): # add numbers and return result
    # logic
    c = a + b
    return c

In [49]:
addnumbers(69, 96) # use or call method

165

In [50]:
addnumbers(34, 26)

60

In [51]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
        sum = sum + n
    return sum

In [52]:
v = [20, 43,37, 2]
addValues(v)

102

In [53]:
v = [2, 0,4, 3, 3, 7,2, 1, 6, 9,9, 6]
addValues(v)

52

In [63]:
# task: write a method which will add numbers of two different lists
# returns another list
# Example:
# [3,4,5,1]
# [6,7,2,8]
# output: [9,11,7,9]

In [107]:
def addtwolist(x,y):
    sum = []
    for i in range(len(x)):
        sum = [x[i] + y[i] for i in range(len(x))]
    return sum

In [108]:
c=[3,4,5,1]
d=[6,7,2,8]
addtwolist(c,d)

[9, 11, 7, 9]

In [55]:
# method/function
def multiTable(n, r=10):
    for i in range(1,r+1):
        print("{}X{}={}".format(n,i,n*i))

In [56]:
multiTable(69,5)

69X1=69
69X2=138
69X3=207
69X4=276
69X5=345

In [57]:
multiTable(69)

69X1=69
69X2=138
69X3=207
69X4=276
69X5=345
69X6=414
69X7=483
69X8=552
69X9=621
69X10=690

In [78]:
# task
# define a method to print first name and last name from full name

# ex: input: Arafat Rahman 
# output: 
#first name: Arafat
#last name: Rahman

# getNames('Arafat Rahman')
 #def getNames():
        #define logic

In [105]:
def getNames(x):
    first=x.split()[0]
    last=x.split()[-1]
    return( first,last)

In [106]:
b="Ashraful Hossain Alif"
getNames(b)
print(first,last)

NameError: name 'first' is not defined

In [124]:
fullname="Arafat Rahman"
fullname.split()
x=fullname[0]+","+fullname[-1]
print(x)

A,n

# Lesson 2 (String)

## Lesson 3 (List and Dictionaries)

# Lesson 4 (Tuples)